.app.dark {
  --bg-color: #37373d;
  --inverted-bg-color: #505057;
  --primary-color: #e1dcdc;
  --secondary-color: #fdafee;
  --inverted-primary-color: #a3dd37;
  --inverted-secondary-color: #1b2ed4;
}
