.app.light {
  --bg-color: #e5e1e1;
  --inverted-bg-color: #dadae2;
  --primary-color: #e1cee1;
  --secondary-color: #302b2f;
  --inverted-primary-color: #d640d6;
  --inverted-secondary-color: #220e1e;
}
